@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");

.page {
  background-color: #f4d04e;
  padding: 219px 0;
}

.blog-card {
  box-sizing: border-box;
  background-color: #fff;
  font-family: Figtree;
  font-size: 14px;
  width: 384px;
  padding: 24px;
  color: #111111;
  border: #111111 1px solid;
  box-shadow: 8px 8px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  line-height: 1.5;
  letter-spacing: 0;
  border-radius: 20px;
}

.blog-card_sample {
  margin: 0 auto;
}

.blog-card__image {
  margin: 0 auto;
  border-radius: 10px;
}

.blog-card__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.blog-card__topic {
  margin: 0;
  width: 24.4048%;
  background-color: #f4d04e;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  padding: 4px 0;
  border-radius: 4px;
}

.blog-card__publication-date {
  margin: 0;
  font-weight: 500;
}

.blog-card__title {
  margin: 0;
  font-size: 24px;
  font-weight: 800;
}

.blog-card__description {
  margin: 0;
  font-size: 16px;
  color: #6b6b6b;
}

.blog-card__author-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.blog-card__author-profile-picture {
  width: 32px;
  height: 32px;
}

.blog-card__author-name {
  margin: 0;
  font-weight: 800;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution__link {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 908px) {
  .page {
    padding: 155px 0;
  }
  .blog-card {
    width: 327px;
  }
  .blog-card__image {
    width: 279px;
  }
  .blog-card__topic,
  .blog-card__publication-date {
    font-size: 12px;
  }
  .blog-card__title {
    font-size: 20px;
  }
  .blog-card__description {
    font-size: 14px;
  }
}
